.servicesTitle{
  height: 120px;
}
.servicesTitle__title{
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 10px;
}
.services-text{
  display: block;
  color: #808080;
  font-size: 15px;
}
.servicesFlexBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.servicesItem{
  width: 200px;
  text-align: center;
  padding: 10px;
}
.servicesItem__title{
  text-transform: uppercase;
}
