.headerWrap{
  display: flex;
  justify-content: space-between;
  height: 160px;
}
.logo{
  margin-top: 60px;
}
.mainNav ul{
  margin-top: 75px;
}
.mainNav li{
  display: inline-block;
  text-decoration: none;
  margin-right: 50px;
}
.mainNav li a{
  color: #4d4d4d;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
.mainNav li a:hover{
  color: darkgray;
}
.headerSlogan{
  height: 180px;
  background: #f1f4f5;
  padding: 70px 0 0;
}
.headerSlogan h1{
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.headerSlogan p{
  font-size: 15px;
  font-weight: 400;
  color: #808080;
}