.worksTitle{
  height: 120px;
}
.worksTitle__text{
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  margin-top: 70px;
}
.worksBtn{
  margin-top: 60px;
  float: right;
}
.btn{
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  background: #ef5f60;

}
.btn:hover{
  background: darkred;
}
.worksFlexBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.workItem{
  margin-bottom: 10px;
}
.workItem a:hover{
  background: crimson;
}
.worksContact{
  text-align: center;
  height: 120px;
}
.contactText{
  display: block;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 15px;
}
