body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #4d4d4d;
  background: #fff;
  font-weight: 400;
  line-height: 1.6;
  min-width: 320px;
}
.container{
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
}